.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
    padding: 40px;
    background-color: #000;
  }
  
  .card {
    
    background-color: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  
  .card-image {
    background-color: #F5CA2E;
    padding: 20px;
  }
  
  .card-image-img {
    width: 100px;
    height: 100px;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .details-button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  